openapi: 3.0.1
info:
  title: Juspay Router - API Documentation
  description: |
    ## Get started
    Juspay Router provides a collection of APIs that enable you to process and manage payments. Our APIs accept and return JSON in the HTTP body, and return standard HTTP response codes</a>.
    You can consume the APIs directly using your favorite HTTP/REST library.
    We have a testing environment referred to "sandbox", which you can setup to test API calls without affecting production data.
    ### Base URLs
    Use the following base URLs when making requests to the APIs:

      | Environment   |      Base URL                                        |
      |---------------|------------------------------------------------------|
      | Sandbox       | <https://sandbox.hyperswitch.io>                   |
      | Production    | <https://router.juspay.io>                           |

    # Authentication
    When you sign up on our [dashboard](https://app.hyperswitch.io) and create a merchant account, you are given a secret key (also referred as api-key). You may authenticate all API requests with Juspay server by providing the appropriate key in the request Authorization header.
    Never share your secret api keys. Keep them guarded and secure.
  termsOfService: https://www.juspay.io/terms
  contact:
    name: Juspay Support
    url: https://juspay.io
    email: support@juspay.in
  version: "0.2"
  x-logo:
    url: https://fresheropenings.com/wp-content/uploads/2019/09/Juspay-off-campus-drive-2019.png
    altText: Juspay logo
servers:
- url: https://sandbox.hyperswitch.io
  description: Sandbox Environment
- url: https://router.juspay.io
  description: Production Environment
security:
- ApiSecretKey: []
tags:
- name: QuickStart
  description: Quickly get started with our API suite.
- name: Payments
  description: Process and manage payments across wide range of payment processors
    using the Unified Payments API.
- name: Customers
  description: Create a Customer entity which you can use to store and retrieve specific
    customers' data and payment methods.
- name: PaymentMethods
- name: Refunds
- name: Mandates
- name: MerchantAccounts
- name: PaymentConnectors
paths:
  /accounts:
    post:
      tags:
      - MerchantAccounts
      - QuickStart
      summary: Merchant Account - Create
      description: Create a new account for a merchant. The merchant could be a seller
        or retailer or client who likes to receive and send payments.
      operationId: createMerchantAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantAccountCreateRequest'
      responses:
        "200":
          description: Merchant Account Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccountResponse'
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: merchant_name can't be empty or null
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - AdminSecretKey: []
  /accounts/{id}:
    get:
      tags:
      - MerchantAccounts
      summary: Merchant Account - Retrieve
      description: Retrieve a merchant account details.
      operationId: retrieveMerchantAccount
      parameters:
      - name: id
        in: path
        description: The unique identifier for the merchant account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Merchant Account retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccountResponse'
        "404":
          description: Merchant Account does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: merchant_account_not_found
                  message: Merchant Account does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - AdminSecretKey: []
    post:
      tags:
      - MerchantAccounts
      summary: Merchant Account - Update
      description: "To update an existing merchant account. Helpful in updating merchant\
        \ details such as email, contact details, or other configuration details like\
        \ webhook, routing algorithm etc"
      operationId: updateMerchantAccount
      parameters:
      - name: id
        in: path
        description: The unique identifier for the merchant account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantAccountUpdateRequest'
      responses:
        "200":
          description: Merchant Account Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccountResponse'
        "404":
          description: Merchant Account does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: merchant_account_not_found
                  message: Merchant Account does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: Update Field can't be empty
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - AdminSecretKey: []
    delete:
      tags:
      - MerchantAccounts
      summary: Merchant Account - Delete
      description: Delete a Merchant Account
      operationId: deleteMerchantAccount
      parameters:
      - name: id
        in: path
        description: The unique identifier for the merchant account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Merchant Account deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccountDeleteResponse'
        "404":
          description: Merchant Account does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: merchant_account_not_found
                  message: Merchant Account does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - AdminSecretKey: []
  /customers/{customer_id}/mandates:
    get:
      tags:
      - Mandates
      summary: Mandate - List all mandates against a customer id
      description: To list the all the mandates for a customer
      operationId: listMandateDetails
      parameters:
      - name: customer_id
        in: path
        description: Unique customer id for which the list of mandates to be retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Customer's mandates retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MandateListResponse'
                x-content-type: application/json
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_not_found
                  message: Payment does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "Amount shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /customers/{customer_id}/payment_methods:
    get:
      tags:
      - PaymentMethods
      summary: List payment methods for a Customer
      description: To filter and list the applicable payment methods for a particular
        Customer ID
      operationId: listPaymentMethodsByCustomerId
      parameters:
      - name: accepted_country
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            maxLength: 2
            minLength: 2
            type: string
            description: |
              The two-letter ISO currency code
            example: "[\"US\",\"UK\",\"IN\"]"
      - name: accepted_currency
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            description: |
              The three-letter ISO currency code
            example: "[\"USD\",\"EUR\"]"
      - name: minimum_amount
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          description: |
            The minimum amount accepted for processing by the particular payment method.
          example: 100
      - name: maximum_amount
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          description: |
            The minimum amount accepted for processing by the particular payment method.
          example: 10000000
      - name: recurring_payment_enabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Indicates whether the payment method is eligible for recurring
            payments
          example: true
      - name: installment_payment_enabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Indicates whether the payment method is eligible for installment
            payments
          example: true
      responses:
        "200":
          description: Payment Methods retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethods'
        "404":
          description: Payment Methods does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_method_not_found
                  message: Payment Methods does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "accepted_currency shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - ApiSecretKey: []
  /mandates/{id}:
    get:
      tags:
      - Mandates
      summary: Mandate - List details of a mandate
      description: To list the details of a mandate
      operationId: listMandateDetails
      parameters:
      - name: id
        in: path
        description: Unique mandate id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Mandate retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateListResponse'
        "404":
          description: Mandate does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_not_found
                  message: Payment does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /mandates/{id}/revoke:
    post:
      tags:
      - Mandates
      summary: Mandate - Revoke a mandate
      description: To revoke a mandate registered against a customer
      operationId: revokeMandateDetails
      parameters:
      - name: id
        in: path
        description: Unique mandate id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Mandate Revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "404":
          description: Mandate does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_not_found
                  message: Payment does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "command shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /account/{account_id}/connectors:
    post:
      tags:
      - PaymentConnectors
      - QuickStart
      summary: Payment Connector - Create
      description: Create a new Payment Connector for the merchant account. The connector
        could be a payment processor / facilitator / acquirer or specialized services
        like Fraud / Accounting etc.
      operationId: createPaymentConnector
      parameters:
      - name: account_id
        in: path
        description: The unique identifier for the merchant account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentConnectorCreateRequest'
      responses:
        "200":
          description: Payment Connector Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConnectorResponse'
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: connector_name can't be empty or null
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - AdminSecretKey: []
  /account/{account_id}/connectors/{connector_id}:
    get:
      tags:
      - PaymentConnectors
      summary: Payment Connector - Retrieve
      description: Retrieve Payment Connector details.
      operationId: retrievePaymentConnector
      parameters:
      - name: account_id
        in: path
        description: The unique identifier for the merchant account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: connector_id
        in: path
        description: The unique identifier for the payment connector
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Payment Connector retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConnectorResponse'
        "404":
          description: Payment Connector does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_connector_not_found
                  message: Payment Connector does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - AdminSecretKey: []
    post:
      tags:
      - PaymentConnectors
      summary: Payment Connector - Update
      description: To update an existing Payment Connector. Helpful in enabling /
        disabling different payment methods and other settings for the connector etc
      operationId: updatePaymentConnector
      parameters:
      - name: id1
        in: path
        description: The unique identifier for the merchant account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id2
        in: path
        description: The unique identifier for the payment connector
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentConnectorUpdateRequest'
      responses:
        "200":
          description: Payment Connector Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConnectorResponse'
        "404":
          description: Payment Connector does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_connector_not_found
                  message: Payment Connector does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: Update Field can't be empty
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - AdminSecretKey: []
    delete:
      tags:
      - PaymentConnectors
      summary: Payment Connector - Delete
      description: Delete or Detach a Payment Connector from Merchant Account
      operationId: deletePaymentConnector
      parameters:
      - name: id1
        in: path
        description: The unique identifier for the merchant account
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id2
        in: path
        description: The unique identifier for the payment connector
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Payment Connector detached successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConnectorDeleteResponse'
        "404":
          description: Payment Connector does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_connector_not_found
                  message: Payment Connector does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
      security:
      - AdminSecretKey: []
  /customers:
    post:
      tags:
      - Customers
      summary: Create Customer
      description: "Create a customer object and store the customer details to be\
        \ reused for future payments. Incase the customer already exists in the system,\
        \ this API will respond with the customer details."
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateRequest'
            example:
              customer_id: cus_udst2tfldj6upmye2reztkmm4i
              email: guest@example.com
              name: John Doe
              phone: "999999999"
              phone_country_code: "+65"
              description: First customer
              address:
                city: Bangalore
                country: IN
                line1: Juspay router
                line2: Koramangala
                line3: Stallion
                state: Karnataka
                zip: "560095"
                first_name: John
                last_name: Doe
              metadata:
                udf1: value1
                new_customer: "true"
                login_date: 2019-09-10T10:11:12Z
        required: true
      responses:
        "200":
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreateResponse'
              example:
                customer_id: cus_udst2tfldj6upmye2reztkmm4i
                email: guest@example.com
                name: John Doe
                phone: "999999999"
                phone_country_code: "+65"
                description: First customer
                address:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
        "401":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /customers/{id}:
    get:
      tags:
      - Customers
      summary: Retrieve Customer
      description: Retrieve a customer's details.
      operationId: retrieveCustomer
      parameters:
      - name: id
        in: path
        description: unique customer id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Customer retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreateResponse'
              example:
                customer_id: cus_udst2tfldj6upmye2reztkmm4i
                email: guest@example.com
                name: John Doe
                phone: "999999999"
                phone_country_code: "+65"
                description: First customer
                address:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
        "404":
          description: Customer does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: customer_not_found
                  message: Customer does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
    post:
      tags:
      - Customers
      summary: Update Customer
      description: Updates the customer's details in a customer object.
      operationId: updateCustomer
      parameters:
      - name: id
        in: path
        description: unique customer id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateRequest'
        required: true
      responses:
        "200":
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreateResponse'
        "404":
          description: Customer does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: customer_not_found
                  message: Customer does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
    delete:
      tags:
      - Customers
      summary: Delete Customer
      description: Delete a customer record.
      operationId: deleteCustomer
      parameters:
      - name: id
        in: path
        description: unique customer id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Customer deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteResponse'
        "404":
          description: Customer does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: customer_not_found
                  message: Customer does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payments:
    post:
      tags:
      - Payments
      - QuickStart
      summary: Payments - Create
      description: "To process a payment you will have to create a payment, attach\
        \ a payment method and confirm. Depending on the user journey you wish to\
        \ achieve, you may opt to all the steps in a single request or in a sequence\
        \ of API request using following APIs: (i) Payments - Update, (ii) Payments\
        \ - Confirm, and (iii) Payments - Capture"
      operationId: createPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payments_body'
      responses:
        "200":
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Missing Mandatory fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: parameter_missing
                  message: "Missing required param: <parameter_name>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payments/{id}:
    get:
      tags:
      - Payments
      - QuickStart
      summary: Payments - Retrieve
      description: To retrieve the properties of a Payment. This may be used to get
        the status of a previously initiated payment or next action for an ongoing
        payment
      operationId: retrievePayment
      parameters:
      - name: id
        in: path
        description: unique payment id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Payment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsCreateResponse'
              example:
                payment_id: pay_mbabizu24mvu3mela5njyhpit4
                amount: 6540
                currency: USD
                status: requires_customer_action
                merchant_id: juspay_merchant
                capture_method: automatic
                capture_on: 2022-09-10T10:11:12Z
                amount_to_capture: 6540
                amount_capturable: 6540
                customer_id: cus_udst2tfldj6upmye2reztkmm4i
                email: guest@example.com
                name: John Doe
                phone: "999999999"
                phone_country_code: "+65"
                description: Its my first payment request
                return_url: http://example.com/payments
                setup_future_usage: optional
                authentication_type: no_three_ds
                shipping:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                billing:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                next_action:
                  type: redirect_to_url
                  redirect_to_url: https://pg-redirect-page.com
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_not_found
                  message: Payment does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
    post:
      tags:
      - Payments
      summary: Payments - Update
      description: "To update the properties of a PaymentIntent object. This may include\
        \ attaching a payment method, or attaching customer object or metadata fields\
        \ after the Payment is created "
      operationId: updatePayment
      parameters:
      - name: id
        in: path
        description: unique payment id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsUpdateRequest'
            example:
              amount: 6540
              currency: USD
              capture_method: automatic
              capture_on: 2022-09-10T10:11:12Z
              amount_to_capture: 6540
              amount_capturable: 6540
              customer_id: cus_udst2tfldj6upmye2reztkmm4i
              email: guest@example.com
              name: John Doe
              phone: "999999999"
              phone_country_code: "+65"
              description: Its my first payment request
              setup_future_usage: optional
              authentication_type: no_three_ds
              payment_method: card
              save_payment_method: true
              payment_method_data:
                card:
                  card_number: "4242424242424242"
                  card_exp_month: "10"
                  card_exp_year: "35"
                  card_holder_name: John Doe
                  card_cvc: "123"
              statement_descriptor_name: Juspay
              statement_descriptor_suffix: Router
              shipping:
                city: Bangalore
                country: IN
                line1: Juspay router
                line2: Koramangala
                line3: Stallion
                state: Karnataka
                zip: "560095"
                first_name: John
                last_name: Doe
              billing:
                city: Bangalore
                country: IN
                line1: Juspay router
                line2: Koramangala
                line3: Stallion
                state: Karnataka
                zip: "560095"
                first_name: John
                last_name: Doe
              metadata:
                udf1: value1
                new_customer: "true"
                login_date: 2019-09-10T10:11:12Z
      responses:
        "200":
          description: Payment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsCreateResponse'
              example:
                payment_id: pay_mbabizu24mvu3mela5njyhpit4
                amount: 6540
                currency: USD
                status: requires_customer_action
                merchant_id: juspay_merchant
                capture_method: automatic
                capture_on: 2022-09-10T10:11:12Z
                amount_to_capture: 6540
                amount_capturable: 6540
                amount_received: 0
                customer_id: cus_udst2tfldj6upmye2reztkmm4i
                email: guest@example.com
                name: John Doe
                phone: "999999999"
                phone_country_code: "+65"
                description: Its my first payment request
                return_url: http://example.com/payments
                setup_future_usage: optional
                authentication_type: no_three_ds
                shipping:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                billing:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                next_action:
                  type: redirect_to_url
                  redirect_to_url: https://pg-redirect-page.com
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_not_found
                  message: Payment does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "Amount shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payments/{id}/capture:
    post:
      tags:
      - Payments
      summary: Payments - Capture
      description: To capture the funds for an uncaptured payment
      operationId: capturePayment
      parameters:
      - name: id
        in: path
        description: unique payment id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsCaptureRequest'
            example:
              amount_to_capture: 6540
              statement_descriptor_name: Juspay
              statement_descriptor_suffix: Router
      responses:
        "200":
          description: Payment captured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsCreateResponse'
              example:
                payment_id: pay_mbabizu24mvu3mela5njyhpit4
                amount: 6540
                currency: USD
                status: succeeded
                merchant_id: juspay_merchant
                capture_method: automatic
                capture_on: 2022-09-10T10:11:12Z
                amount_to_capture: 6540
                amount_capturable: 0
                customer_id: cus_udst2tfldj6upmye2reztkmm4i
                email: guest@example.com
                name: John Doe
                phone: "999999999"
                phone_country_code: "+65"
                description: Its my first payment request
                return_url: http://example.com/payments
                setup_future_usage: optional
                authentication_type: no_three_ds
                shipping:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                billing:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                next_action: null
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_not_found
                  message: Payment does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "Amount shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payments/{id}/confirm:
    post:
      tags:
      - Payments
      summary: Payments - Confirm
      description: This API is to confirm the payment request and forward payment
        to the payment processor. This API provides more granular control upon when
        the API is forwarded to the payment processor. Alternatively you can confirm
        the payment within the Payments-Create API
      operationId: confirmPayment
      parameters:
      - name: id
        in: path
        description: unique payment id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsConfirmRequest'
            example:
              return_url: http://example.com/payments
              setup_future_usage: optional
              authentication_type: no_three_ds
              payment_method: card
              save_payment_method: true
              payment_method_data:
                card:
                  card_number: "4242424242424242"
                  card_exp_month: "10"
                  card_exp_year: "35"
                  card_holder_name: John Doe
                  card_cvc: "123"
              shipping:
                city: Bangalore
                country: IN
                line1: Juspay router
                line2: Koramangala
                line3: Stallion
                state: Karnataka
                zip: "560095"
                first_name: John
                last_name: Doe
              billing:
                city: Bangalore
                country: IN
                line1: Juspay router
                line2: Koramangala
                line3: Stallion
                state: Karnataka
                zip: "560095"
                first_name: John
                last_name: Doe
      responses:
        "200":
          description: Payment confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsCreateResponse'
              example:
                amount: 6540
                currency: USD
                confirm: true
                payment_id: pay_mbabizu24mvu3mela5njyhpit4
                merchant_id: juspay_merchant
                capture_method: automatic
                capture_on: 2022-09-10T10:11:12Z
                amount_to_capture: 6540
                customer_id: cus_udst2tfldj6upmye2reztkmm4i
                email: guest@example.com
                name: John Doe
                phone: "999999999"
                phone_country_code: "+65"
                description: Its my first payment request
                return_url: http://example.com/payments
                setup_future_usage: optional
                authentication_type: no_three_ds
                payment_method: card
                save_payment_method: true
                payment_method_data:
                  card:
                    card_number: "4242424242424242"
                    card_exp_month: "10"
                    card_exp_year: "35"
                    card_holder_name: John Doe
                    card_cvc: "123"
                statement_descriptor_name: Juspay
                statement_descriptor_suffix: Router
                shipping:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                billing:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_not_found
                  message: Payment does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "cancellation_reason shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payments/{id}/cancel:
    post:
      tags:
      - Payments
      summary: Payments - Cancel
      description: "A Payment could can be cancelled when it is in one of these statuses:\
        \ requires_payment_method, requires_capture, requires_confirmation, requires_customer_action"
      operationId: cancelPayment
      parameters:
      - name: id
        in: path
        description: unique payment id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsCancelRequest'
            example:
              cancellation_reason: Payment attempt expired
      responses:
        "200":
          description: Payment cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsCreateResponse'
              example:
                payment_id: pay_mbabizu24mvu3mela5njyhpit4
                amount: 6540
                currency: USD
                cancellation_reason: Payment attempt expired
                status: cancelled
                merchant_id: juspay_merchant
                capture_method: automatic
                capture_on: 2022-09-10T10:11:12Z
                amount_to_capture: 6540
                amount_capturable: 0
                customer_id: cus_udst2tfldj6upmye2reztkmm4i
                email: guest@example.com
                name: John Doe
                phone: "999999999"
                phone_country_code: "+65"
                description: Its my first payment request
                return_url: http://example.com/payments
                setup_future_usage: optional
                authentication_type: no_three_ds
                shipping:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                billing:
                  city: Bangalore
                  country: IN
                  line1: Juspay router
                  line2: Koramangala
                  line3: Stallion
                  state: Karnataka
                  zip: "560095"
                  first_name: John
                  last_name: Doe
                next_action: null
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_not_found
                  message: Payment does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "cancellation_reason shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /refunds:
    post:
      tags:
      - Refunds
      - QuickStart
      summary: Refunds - Create
      description: To create a refund against an already processed payment
      operationId: createRefunds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundsCreateRequest'
            example:
              payment_id: pay_mbabizu24mvu3mela5njyhpit4
              refund_id: a8537066-2569-4ac4-a7d3-87453387b09b
              amount: 100
              currency: USD
              reason: Customer returned product
              metadata:
                udf1: value1
                new_customer: "true"
                login_date: 2019-09-10T10:11:12Z
      responses:
        "200":
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundsObject'
              example:
                payment_id: pay_mbabizu24mvu3mela5njyhpit4
                refund_id: a8537066-2569-4ac4-a7d3-87453387b09b
                amount: 100
                status: pending
                currency: USD
                reason: Customer returned product
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
                created_at: 2022-09-10T10:11:12Z
        "400":
          description: Missing Mandatory fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: parameter_missing
                  message: "Missing required param: <parameter_name>"
  /refunds/{id}:
    get:
      tags:
      - Refunds
      - QuickStart
      summary: Refunds - Retrieve
      description: To retrieve the properties of a Refund. This may be used to get
        the status of a previously initiated payment or next action for an ongoing
        payment
      operationId: retrieveRefund
      parameters:
      - name: id
        in: path
        description: unique refund id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Refund retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundsObject'
              example:
                payment_id: pay_mbabizu24mvu3mela5njyhpit4
                refund_id: a8537066-2569-4ac4-a7d3-87453387b09b
                amount: 100
                status: pending
                currency: USD
                reason: Customer returned product
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
                created_at: 2022-09-10T10:11:12Z
        "404":
          description: Refund does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: refund_not_found
                  message: Refund does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
    post:
      tags:
      - Refunds
      summary: Refunds - Update
      description: To update the properties of a Refund object. This may include attaching
        a reason for the refund or metadata fields
      operationId: updateRefund
      parameters:
      - name: id
        in: path
        description: unique refund id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundsUpdateRequest'
            example:
              reason: Customer returned product
              metadata:
                udf1: value1
                new_customer: "true"
                login_date: 2019-09-10T10:11:12Z
      responses:
        "200":
          description: Refund updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundsObject'
              example:
                payment_id: pay_mbabizu24mvu3mela5njyhpit4
                refund_id: a8537066-2569-4ac4-a7d3-87453387b09b
                amount: 100
                status: pending
                currency: USD
                reason: Customer returned product
                metadata:
                  udf1: value1
                  new_customer: "true"
                  login_date: 2019-09-10T10:11:12Z
                created_at: 2022-09-10T10:11:12Z
        "404":
          description: Refund does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: refund_not_found
                  message: Refund does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "Amount shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payment_methods:
    post:
      tags:
      - PaymentMethods
      summary: PaymentMethods - Create
      description: "To create a payment method against a customer object. In case\
        \ of cards, this API could be used only by PCI compliant merchants"
      operationId: createPaymentMethodForCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodsCreateRequest'
      responses:
        "200":
          description: Payment Method Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodsResponseObject'
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "accepted_country shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payment_methods/{id}:
    post:
      tags:
      - PaymentMethods
      summary: PaymentMethods - Update
      description: "To update an existing a payment method attached to a customer\
        \ object. This API is useful for use cases such as updating the card number\
        \ for expired cards, to prevent discontinuity in recurring payments"
      operationId: updatePaymentMethodForCustomer
      parameters:
      - name: id
        in: path
        description: The unique identifier for the payment method
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodsUpdateRequest'
      responses:
        "200":
          description: Payment Method Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodsResponseObject'
        "404":
          description: Payment Method does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_method_not_found
                  message: Payment Method does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "accepted_country shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payment_methods/{id}/detach:
    post:
      tags:
      - PaymentMethods
      summary: Delete PaymentMethods
      description: Detaches a PaymentMethod object from a Customer.
      operationId: deletePaymentMethods
      parameters:
      - name: id
        in: path
        description: The unique identifier for the payment method
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Payment Method detached successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodDeleteResponse'
        "404":
          description: Payment Method does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_method_not_found
                  message: Payment Method does not exist in records
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
  /payment_methods/{merchant_id}:
    get:
      tags:
      - PaymentMethods
      summary: List payment methods for a Merchant
      description: To filter and list the applicable payment methods for a particular
        merchant id.
      operationId: listPaymentMethodsByMerchantId
      parameters:
      - name: accepted_country
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            maxLength: 2
            minLength: 2
            type: string
            description: |
              The two-letter ISO currency code
            example: "[\"US\",\"UK\",\"IN\"]"
      - name: accepted_currency
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            description: |
              The three-letter ISO currency code
            example: "[\"USD\",\"EUR\"]"
      - name: minimum_amount
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          description: The minimum amount accepted for processing by the particular
            payment method.
          example: 100
      - name: maximum_amount
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          description: The minimum amount accepted for processing by the particular
            payment method.
          example: 10000000
      - name: recurring_payment_enabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Indicates whether the payment method is eligible for recurring
            payments
          example: true
      - name: installment_payment_enabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Indicates whether the payment method is eligible for installment
            payments
          example: true
      responses:
        "200":
          description: Payment Methods retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfMerchantPaymentMethods'
        "404":
          description: Payment Methods does not exist in records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: object_not_found
                  code: payment_method_not_found
                  message: Payment Methods does not exist in records
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_data
                  message: "accepted_currency shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  type: invalid_request_error
                  code: invalid_api_authentication
                  message: "Access forbidden, invalid api-key was used"
components:
  schemas:
    ArrayOfMerchantPaymentMethods:
      type: array
      items:
        $ref: '#/components/schemas/ArrayOfMerchantPaymentMethods_inner'
      x-schema-name: ArrayOfMerchantPaymentMethods
    CustomerPaymentMethods:
      type: object
      properties:
        enabled_payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodsEnabled'
        customer_payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodsResponseObject'
      example:
        customer_payment_methods:
        - payment_method_type: credit_card
          payment_scheme:
          - "[\"MASTER\",\"VISA\"]"
          - "[\"MASTER\",\"VISA\"]"
          accepted_currency:
          - "[\"USD\",\"EUR\"]"
          - "[\"USD\",\"EUR\"]"
          payment_method_issuer_code: PM_APPLEPAY
          maximum_amount: 10000000
          minimum_amount: 100
          recurring_payment_enabled: true
          payment_method_issuer: Citibank
          payment_method_id: pm_y3oqhf46pyzuxjbcn2giaqnb44
          accepted_country:
          - "[\"US\",\"UK\",\"IN\"]"
          - "[\"US\",\"UK\",\"IN\"]"
          installment_payment_enabled: true
          payment_experience:
          - "[\"redirect_to_url\",\"display_qr_code\"]"
          - "[\"redirect_to_url\",\"display_qr_code\"]"
          payment_method: card
          card:
            issuer_country: US
            card_exp_year: "25"
            card_fingerprint: fpt_78892490hfh3r834rd
            last4_digits: xxxxxxxxxxxx4242
            card_holder_name: John Doe
            scheme: MASTER
            card_token: tkn_78892490hfh3r834rd
            card_exp_month: "10"
        - payment_method_type: credit_card
          payment_scheme:
          - "[\"MASTER\",\"VISA\"]"
          - "[\"MASTER\",\"VISA\"]"
          accepted_currency:
          - "[\"USD\",\"EUR\"]"
          - "[\"USD\",\"EUR\"]"
          payment_method_issuer_code: PM_APPLEPAY
          maximum_amount: 10000000
          minimum_amount: 100
          recurring_payment_enabled: true
          payment_method_issuer: Citibank
          payment_method_id: pm_y3oqhf46pyzuxjbcn2giaqnb44
          accepted_country:
          - "[\"US\",\"UK\",\"IN\"]"
          - "[\"US\",\"UK\",\"IN\"]"
          installment_payment_enabled: true
          payment_experience:
          - "[\"redirect_to_url\",\"display_qr_code\"]"
          - "[\"redirect_to_url\",\"display_qr_code\"]"
          payment_method: card
          card:
            issuer_country: US
            card_exp_year: "25"
            card_fingerprint: fpt_78892490hfh3r834rd
            last4_digits: xxxxxxxxxxxx4242
            card_holder_name: John Doe
            scheme: MASTER
            card_token: tkn_78892490hfh3r834rd
            card_exp_month: "10"
        enabled_payment_methods:
        - - payment_method_types:
            - credit_card
            - credit_card
            payment_method_issuers:
            - "[\"HDFC\"]"
            - "[\"HDFC\"]"
            installment_payment_enabled: true
            accepted_countries:
            - US
            - US
            maximum_amount: 0
            payment_schemes:
            - VISA
            - VISA
            minimum_amount: 1
            payment_experience:
            - redirect_to_url
            payment_method: payment_method
            accepted_currencies:
            - USD
            - USD
            recurring_enabled: true
          - payment_method_types:
            - credit_card
            - credit_card
            payment_method_issuers:
            - "[\"HDFC\"]"
            - "[\"HDFC\"]"
            installment_payment_enabled: true
            accepted_countries:
            - US
            - US
            maximum_amount: 0
            payment_schemes:
            - VISA
            - VISA
            minimum_amount: 1
            payment_experience:
            - redirect_to_url
            payment_method: payment_method
            accepted_currencies:
            - USD
            - USD
            recurring_enabled: true
        - - payment_method_types:
            - credit_card
            - credit_card
            payment_method_issuers:
            - "[\"HDFC\"]"
            - "[\"HDFC\"]"
            installment_payment_enabled: true
            accepted_countries:
            - US
            - US
            maximum_amount: 0
            payment_schemes:
            - VISA
            - VISA
            minimum_amount: 1
            payment_experience:
            - redirect_to_url
            payment_method: payment_method
            accepted_currencies:
            - USD
            - USD
            recurring_enabled: true
          - payment_method_types:
            - credit_card
            - credit_card
            payment_method_issuers:
            - "[\"HDFC\"]"
            - "[\"HDFC\"]"
            installment_payment_enabled: true
            accepted_countries:
            - US
            - US
            maximum_amount: 0
            payment_schemes:
            - VISA
            - VISA
            minimum_amount: 1
            payment_experience:
            - redirect_to_url
            payment_method: payment_method
            accepted_currencies:
            - USD
            - USD
            recurring_enabled: true
    Address:
      type: object
      properties:
        line1:
          maxLength: 200
          type: string
          description: The first line of the address
          example: Juspay Router
        line2:
          maxLength: 200
          type: string
          description: The second line of the address
          example: Koramangala
        line3:
          maxLength: 200
          type: string
          description: The second line of the address
          example: Stallion
        city:
          maxLength: 50
          type: string
          description: The address city
          example: Bangalore
        state:
          maxLength: 50
          type: string
          description: The address state
          example: Karnataka
        zip:
          maxLength: 50
          type: string
          description: The address zip/postal code
          example: "560095"
        country:
          maxLength: 2
          minLength: 2
          type: string
          description: The two-letter ISO country code
          example: IN
      example:
        zip: "560095"
        country: IN
        city: Bangalore
        state: Karnataka
        line3: Stallion
        line2: Koramangala
        line1: Juspay Router
    CustomerCreateRequest:
      type: object
      properties:
        customer_id:
          maxLength: 255
          type: string
          description: The identifier for the customer object. If not provided the
            customer ID will be autogenerated.
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        email:
          maxLength: 255
          type: string
          description: The customer's email address
          format: email
          example: JohnTest@test.com
        name:
          maxLength: 255
          type: string
          description: The customer's name
          example: John Test
        phone_country_code:
          maxLength: 255
          type: string
          description: The country code for the customer phone number
          example: "+65"
        phone:
          maxLength: 255
          type: string
          description: The customer's phone number
          example: "9999999999"
        description:
          maxLength: 255
          type: string
          description: An arbitrary string that you can attach to a customer object.
          example: First customer
        address:
          $ref: '#/components/schemas/Address'
        metadata:
          maxLength: 255
          type: object
          description: "You can specify up to 50 keys, with key names up to 40 characters\
            \ long and values up to 500 characters long. Metadata is useful for storing\
            \ additional, structured information on an object."
          example:
            city: NY
            unit: "245"
      description: The customer details
    CustomerUpdateRequest:
      type: object
      properties:
        email:
          maxLength: 255
          type: string
          description: The customer's email address
          format: email
          example: JohnTest@test.com
        name:
          maxLength: 255
          type: string
          description: The customer's name
          example: John Test
        phone_country_code:
          maxLength: 255
          type: string
          description: The country code for the customer phone number
          example: "+65"
        phone:
          maxLength: 255
          type: string
          description: The customer's phone number
          example: "9999999999"
        address:
          $ref: '#/components/schemas/Address'
        description:
          maxLength: 255
          type: string
          description: An arbitrary string that you can attach to a customer object.
          example: First customer
        metadata:
          maxLength: 255
          type: object
          description: "You can specify up to 50 keys, with key names up to 40 characters\
            \ long and values up to 500 characters long. Metadata is useful for storing\
            \ additional, structured information on an object."
          example:
            city: NY
            unit: "245"
      description: The customer details to be updated
    CustomerCreateResponse:
      required:
      - customer_id
      type: object
      properties:
        customer_id:
          maxLength: 255
          type: string
          description: The identifier for the customer object. If not provided the
            customer ID will be autogenerated.
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        email:
          maxLength: 255
          type: string
          description: The customer's email address
          format: email
          example: JohnTest@test.com
        name:
          maxLength: 255
          type: string
          description: The customer's name
          example: John Test
        phone_country_code:
          maxLength: 255
          type: object
          description: The country code for the customer phone number
          example: 65
        phone:
          maxLength: 255
          type: object
          description: The customer's phone number
          example: 9999999999
        address:
          $ref: '#/components/schemas/Address'
        description:
          maxLength: 255
          type: object
          description: An arbitrary string that you can attach to a customer object.
          example: First customer
        metadata:
          maxLength: 255
          type: object
          description: "You can specify up to 50 keys, with key names up to 40 characters\
            \ long and values up to 500 characters long. Metadata is useful for storing\
            \ additional, structured information on an object."
          example:
            city: NY
            unit: "245"
      description: Customer
      example:
        metadata:
          city: NY
          unit: "245"
        address:
          zip: "560095"
          country: IN
          city: Bangalore
          state: Karnataka
          line3: Stallion
          line2: Koramangala
          line1: Juspay Router
        phone_country_code: 65
        phone: 9999999999
        name: John Test
        description: First customer
        customer_id: cus_y3oqhf46pyzuxjbcn2giaqnb44
        email: JohnTest@test.com
    CustomerDeleteResponse:
      required:
      - customer_id
      - deleted
      type: object
      properties:
        customer_id:
          maxLength: 255
          type: string
          description: The identifier for the customer object. If not provided the
            customer ID will be autogenerated.
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        deleted:
          type: boolean
          description: Indicates the deletion status of the customer object.
          example: true
      description: Customer
      example:
        deleted: true
        customer_id: cus_y3oqhf46pyzuxjbcn2giaqnb44
    UpdateCustomerRequest:
      type: object
      properties:
        email:
          type: string
          description: The email address of the customer
          example: JohnTest@test.com
        name:
          type: string
          description: The name of the customer
          example: John Test
        default:
          type: string
          description: The instrument ID for this customer’s default instrument
          example: src_imu3wifxfvlebpqqq5usjrze6y
        phone:
          type: object
          description: The customer's phone number
          example: "9999999999"
        address:
          $ref: '#/components/schemas/Address'
        metadata:
          type: object
          description: Allows you to store additional information about a customer.
            You can include a maximum of 10 key-value pairs. Each key and value can
            be up to 100 characters long.
          example:
            coupon_code: NY2018
            partner_id: 123989
      description: The customer attached to the instrument
    PaymentsCreateRequest:
      required:
      - amount
      - currency
      type: object
      properties:
        amount:
          minimum: 100
          type: integer
          description: |
            The payment amount. Amount for the payment in lowest denomination of the currency. (i.e) in cents for USD denomination, in paisa for INR denomination etc.,
          example: 6540
        currency:
          maxLength: 3
          minLength: 3
          type: string
          description: |
            The three-letter ISO currency code
          example: USD
        payment_id:
          maxLength: 30
          minLength: 30
          type: string
          description: |
            Unique Identifier for the Payment. It is always recommended to provide this ID while creating a payment.
            If the identifiers in not provided in the Payment Request, this filed shall be auto generated and provide in the API response. It is suggested to keep the payment_id length as a maximum of 30 alphanumeric characters irrespective of payment methods and gateways.
            Sequential and only numeric characters are not recommended.
          example: pay_mbabizu24mvu3mela5njyhpit4
        confirm:
          type: boolean
          description: Whether to confirm the payment (if applicable)
          example: true
          default: false
        capture_method:
          type: string
          description: "This is the instruction for capture/ debit the money from\
            \ the users' card. On the other hand authorization refers to blocking\
            \ the amount on the users' payment method. Capture request may happen\
            \ in three types: (1) AUTOMATIC: Post the payment authorization, the capture\
            \ will be executed on the full amount immediately, (2) MANUAL: The capture\
            \ will happen only if the merchant triggers a Capture API request, (3)\
            \ SCHEDULED: The capture can be scheduled to automatically get triggered\
            \ at a specific date & time"
          example: automatic
          default: automatic
          enum:
          - automatic
          - manual
          - scheduled
        capture_on:
          description: |
            A timestamp (ISO 8601 code) that determines when the payment should be captured.
            Providing this field will automatically set `capture` to true
          allOf:
          - $ref: '#/components/schemas/Timestamp'
        amount_to_capture:
          minimum: 100
          type: integer
          description: |
            The Amount to be captured/ debited from the users payment method. It shall be in lowest denomination of the currency. (i.e) in cents for USD denomination, in paisa for INR denomination etc.,
            If not provided, the default amount_to_capture will be the payment amount.
          example: 6540
        customer_id:
          maxLength: 255
          type: string
          description: The identifier for the customer object. If not provided the
            customer ID will be autogenerated.
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        description:
          maxLength: 255
          type: string
          description: A description of the payment
          example: Its my first payment request
        email:
          maxLength: 255
          type: string
          description: The customer's email address
          format: email
          example: JohnTest@test.com
        name:
          maxLength: 255
          type: string
          description: The customer's name
          example: John Test
        phone:
          maxLength: 255
          type: string
          description: The customer's phone number
          example: "9999999999"
        phone_country_code:
          maxLength: 255
          type: string
          description: The country code for the customer phone number
          example: "+65"
        return_url:
          maxLength: 255
          type: string
          description: The URL to redirect after the completion of the operation
          example: https://juspay.io/
        setup_future_usage:
          type: string
          description: "Indicates that you intend to make future payments with this\
            \ Payment’s payment method. Providing this parameter will attach the payment\
            \ method to the Customer, if present, after the Payment is confirmed and\
            \ any required actions from the user are complete."
          example: off_session
          enum:
          - on_session
          - off_session
        off_session:
          type: boolean
          description: "Set to true to indicate that the customer is not in your checkout\
            \ flow during this payment, and therefore is unable to authenticate. This\
            \ parameter is intended for scenarios where you collect card details and\
            \ charge them later. This parameter can only be used with confirm=true."
          example: true
        mandate_data:
          $ref: '#/components/schemas/PaymentsCreateRequest_mandate_data'
        mandate_id:
          type: string
          description: ID of the mandate to be used for this payment. This parameter
            can only be used with confirm = true. This parameter should be passed
            for Merchant Initiated Transaction scenarios where the user has already
            registered for a mandate and raw payment method details are not available.
          example: mandate_iwer89rnjef349dni3
        authentication_type:
          type: string
          description: "The transaction authentication can be set to undergo payer\
            \ authentication. Possible values are: (i) THREE_DS: If the card is enrolled\
            \ for 3DS authentication, the 3DS based authentication will be activated.\
            \ The liability of chargeback shift to the issuer, (ii) NO_THREE_DS: 3DS\
            \ based authentication will not be activated. The liability of chargeback\
            \ stays with the merchant. By default, the authentication will be marked\
            \ as NO_THREE_DS"
          example: no_three_ds
          default: no_three_ds
          enum:
          - three_ds
          - three_ds_2
          - no_three_ds
        payment_method:
          type: string
          description: The payment method
          example: card
          enum:
          - card
          - bank_transfer
          - netbanking
          - upi
          - open_banking
          - consumer_finance
          - wallet
        payment_method_data:
          $ref: '#/components/schemas/PaymentsCreateRequest_payment_method_data'
        billing:
          $ref: '#/components/schemas/Address'
        shipping:
          $ref: '#/components/schemas/Address'
        statement_descriptor_name:
          maxLength: 255
          type: string
          description: "For non-card charges, you can use this value as the complete\
            \ description that appears on your customers’ statements. Must contain\
            \ at least one letter, maximum 22 characters."
          example: Juspay Router
        statement_descriptor_suffix:
          maxLength: 255
          type: string
          description: Provides information about a card payment that customers see
            on their statements. Concatenated with the prefix (shortened descriptor)
            or statement descriptor that’s set on the account to form the complete
            statement descriptor. Maximum 22 characters for the concatenated descriptor.
          example: Payment for shoes purchase
        metadata:
          maxLength: 255
          type: object
          description: "You can specify up to 50 keys, with key names up to 40 characters\
            \ long and values up to 500 characters long. Metadata is useful for storing\
            \ additional, structured information on an object."
          example:
            city: NY
            unit: "245"
    PaymentsConfirmRequest:
      type: object
      properties:
        return_url:
          maxLength: 255
          type: string
          description: The URL to redirect after the completion of the operation
          example: www.example.com/success
        setup_future_usage:
          type: string
          description: "Indicates that you intend to make future payments with this\
            \ Payment’s payment method. Possible values are: (i) REQUIRED: The payment\
            \ will be processed only with payment methods eligible for recurring payments\
            \ (ii) OPTIONAL: The payment may/ may not be processed with payment methods\
            \ eligible for recurring payments"
          example: required
          enum:
          - required
          - optional
        authentication_type:
          type: string
          description: "The transaction authentication can be set to undergo payer\
            \ authentication. Possible values are: (i) THREE_DS: If the card is enrolled\
            \ for 3DS authentication, the 3DS based authentication will be activated.\
            \ The liability of chargeback shift to the issuer, (ii) NO_THREE_DS: 3DS\
            \ based authentication will not be activated. The liability of chargeback\
            \ stays with the merchant. By default, the authentication will be marked\
            \ as NO_THREE_DS"
          default: no_three_ds
          enum:
          - three_ds
          - no_three_ds
        payment_method:
          type: string
          description: The payment method
          example: automatic
          default: three_ds
          enum:
          - card
          - bank_transfer
          - netbanking
          - upi
          - open_banking
          - consumer_finance
          - wallet
        payment_method_data:
          type: object
          description: The payment method information
          oneOf:
          - $ref: '#/components/schemas/CardData'
        save_payment_method:
          type: boolean
          description: "Enable this flag as true, if the user has consented for saving\
            \ the payment method information"
          example: true
          default: false
        billing:
          $ref: '#/components/schemas/Address'
        shipping:
          $ref: '#/components/schemas/Address'
    PaymentsUpdateRequest:
      type: object
      properties:
        amount:
          minimum: 100
          type: integer
          description: |
            The payment amount. Amount for the payment in lowest denomination of the currency. (i.e) in cents for USD denomination, in paisa for INR denomination etc.,
          example: 6540
        currency:
          maxLength: 3
          minLength: 3
          type: string
          description: |
            The three-letter ISO currency code
          example: USD
        capture_method:
          type: string
          description: "This is the instruction for capture/ debit the money from\
            \ the users' card. On the other hand authorization refers to blocking\
            \ the amount on the users' payment method. Capture request may happen\
            \ in three types: (1) AUTOMATIC: Post the payment authorization, the capture\
            \ will be executed on the full amount immediately, (2) MANUAL: The capture\
            \ will happen only if the merchant triggers a Capture API request, (3)\
            \ SCHEDULED: The capture can be scheduled to automatically get triggered\
            \ at a specific date & time"
          example: automatic
          default: automatic
          enum:
          - automatic
          - manual
          - scheduled
        capture_on:
          description: |
            A timestamp (ISO 8601 code) that determines when the payment should be captured.
            Providing this field will automatically set `capture` to true
          allOf:
          - $ref: '#/components/schemas/Timestamp'
        amount_to_capture:
          minimum: 100
          type: integer
          description: |
            The Amount to be captured/ debited from the users payment method. It shall be in lowest denomination of the currency. (i.e) in cents for USD denomination, in paisa for INR denomination etc.,
            If not provided, the default amount_to_capture will be the payment amount.
          example: 6540
        customer_id:
          maxLength: 255
          type: string
          description: The identifier for the customer object. If not provided the
            customer ID will be autogenerated.
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        description:
          maxLength: 255
          type: string
          description: A description of the payment
          example: Its my first payment request
        email:
          maxLength: 255
          type: string
          description: The customer's email address
          format: email
          example: JohnTest@test.com
        name:
          maxLength: 255
          type: string
          description: The customer's name
          example: John Test
        phone:
          maxLength: 255
          type: string
          description: The customer's phone number
          example: "9999999999"
        phone_country_code:
          maxLength: 255
          type: string
          description: The country code for the customer phone number
          example: "+65"
        setup_future_usage:
          type: string
          description: "Indicates that you intend to make future payments with this\
            \ Payment’s payment method. Possible values are: (i) REQUIRED: The payment\
            \ will be processed only with payment methods eligible for recurring payments\
            \ (ii) OPTIONAL: The payment may/ may not be processed with payment methods\
            \ eligible for recurring payments"
          example: required
          enum:
          - required
          - optional
        authentication_type:
          type: string
          description: "The transaction authentication can be set to undergo payer\
            \ authentication. Possible values are: (i) THREE_DS: If the card is enrolled\
            \ for 3DS authentication, the 3DS based authentication will be activated.\
            \ The liability of chargeback shift to the issuer, (ii) NO_THREE_DS: 3DS\
            \ based authentication will not be activated. The liability of chargeback\
            \ stays with the merchant. By default, the authentication will be marked\
            \ as NO_THREE_DS"
          default: no_three_ds
          enum:
          - three_ds
          - no_three_ds
        payment_method:
          type: string
          description: The payment method
          example: automatic
          default: three_ds
          enum:
          - card
          - bank_transfer
          - netbanking
          - upi
[...]
